<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
        </ion-buttons>

        <ion-title>CADASTRO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="wrapp-pst" padding>
        <div class="wrapp-form mgt--50" padding>
            <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

                <ion-list class="ani-bottom-to-top mgb-0">

                    <ion-item class="white-opct bdra-30">
                        <ion-label position="floating" class="mgb-5">Nome</ion-label>
                        <ion-input #email formControlName="firstname" type="text" [class.invalid]="!signupForm.controls.firstname.valid && signupForm.controls.firstname.dirty" class=""></ion-input>
                    </ion-item>

                    <div class="error-message" *ngIf="!signupForm.controls.firstname.valid && signupForm.controls.firstname.dirty">
                        <p class="fs-11 mgt-5">Por favor, insira um nome.</p>
                    </div>

                    <ion-item class="white-opct bdra-30">
                        <ion-label position="floating" class="mgb-5">Sobrenome</ion-label>
                        <ion-input #email formControlName="lastname" type="text" [class.invalid]="!signupForm.controls.lastname.valid && signupForm.controls.lastname.dirty" class=""></ion-input>
                    </ion-item>

                    <div class="error-message" *ngIf="!signupForm.controls.lastname.valid && signupForm.controls.lastname.dirty">
                        <p class="fs-11 mgt-5">Por favor, insira um sobrenome.</p>
                    </div>

                    <ion-item class="white-opct bdra-30">
                        <ion-label position="floating" class="mgb-5">Email</ion-label>

                        <ion-input #email formControlName="email" type="email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty" class=""></ion-input>
                    </ion-item>

                    <div class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
                        <p class="fs-11 mgt-5">Por favor, insira um email válido.</p>
                    </div>

                    <ion-item class="white-opct bdra-30">
                        <ion-label position="floating" class="mgb-5">Telefone</ion-label>
                        <ion-input #email formControlName="phone" type="text" [class.invalid]="!signupForm.controls.phone.valid && signupForm.controls.phone.dirty" class="" placeholder="(85) 9 0000-0000"></ion-input>
                    </ion-item>

                    <div class="error-message" *ngIf="!signupForm.controls.phone.valid && signupForm.controls.phone.dirty">
                        <p class="fs-11 mgt-5">Por favor, insira um telefone válido.</p>
                    </div>

                    <ion-item class="white-opct bdra-30">
                        <ion-label stacked class="mgb-5">Endereço</ion-label>
                        <ion-input #email formControlName="address" type="text" [class.invalid]="!signupForm.controls.address.valid && signupForm.controls.address.dirty" class=""></ion-input>
                    </ion-item>

                    <div class="error-message" *ngIf="!signupForm.controls.address.valid && signupForm.controls.address.dirty">
                        <p class="fs-11 mgt-5">Por favor, insira um endereço válido.</p>
                    </div>

                    <ion-item class="white-opct bdra-30">
                        <ion-label stacked class="mgt-15 mgb-5">Senha</ion-label>
                        <ion-input #password formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty" class=""></ion-input>
                    </ion-item>
                    <div class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
                        <p class="fs-11 mgt-5">Sua senha precisa de pelo menos 6 caracteres.</p>
                    </div>
                </ion-list>

                <ion-button color="primary" shape="round" type="submit" fill="outline" expand="full">
                    Salvar
                </ion-button>
            </form>
        </div>

        <br>
        <br>
        <br>

    </div>
</ion-content>