<section class="row mt-5">
    <div class="col">
        <div *ngIf="item">
            <h2 class="page header">{{item.name}} <small>Categoria: {{ item.category }}</small></h2>
            <div class="row">
                <div class="col-md-4">
                    <img style="width:100%" class="thumbnail" src="{{item.image_firebase_url}}">

                </div>

                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Código:</b> {{item.product_id}}</li>
                        <li class="list-group-item"><b>Descrição:</b> {{item.description}}</li>
                        <li class="list-group-item"><b>Preço:</b> R$ {{item.price}}</li>
                        <li class="list-group-item"><b>Estoque:</b> {{item.stock}} un.</li>
                        <li class="list-group-item"><b>Disponibilidade:</b> {{item.available}}</li>


                    </ul>



                </div>

            </div>


            <div class="col" style="margin-top: 15px">
                <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-secondary" [routerLink]="['/produtos/listar']">Voltar</button>
                <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" [routerLink]="['/produtos/editar/'+item.$key]" *ngIf="isAdmin">Editar</button>
                <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" [routerLink]="['/produtos/adicional/'+item.$key]" *ngIf="isAdmin">Adicionar Opção</button>
                <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-warning" [routerLink]="['/produtos/adicional/listar/'+item.$key]">Ver Adicionais</button>
                <button (click)="onItemDelete()" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-danger" *ngIf="isAdmin">Deletar</button>
            </div>

        </div>

    </div>

</section>