<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable #table class='bootstrap' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='cities'>
                            <ngx-datatable-column prop="firebase_url">

                                <ng-template let-column="Imagem" ngx-datatable-header-template>
                                    IMAGEM
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <img style="width:100px;height:60px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/multi4ionic.appspot.com/o/categoryimages%2Fdownload.jpg?alt=media&token=395a1d9f-7707-4e8d-9830-f39201b04eb4">
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="name">
                                <ng-template let-column="name" ngx-datatable-header-template>
                                    NOME
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="$key">
                                <ng-template let-column="$key" ngx-datatable-header-template>
                                    ID
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="$key">
                                <ng-template let-column="$key" ngx-datatable-header-template>
                                    AÇÕES
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <button routerLink="/enderecos/cidades/editar/{{value}}" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-warning" *ngIf="isAdmin">Editar</button>
                                    <button (click)="deleteCity(value)" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-danger" *ngIf="isAdmin">Deletar</button>
                                </ng-template>
                            </ngx-datatable-column>


                        </ngx-datatable>

                        <div align="right" style="margin-top:15px;">
                            <a [routerLink]="['/enderecos/cidades/adicionar']" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" *ngIf="isAdmin">Adicionar Nova Cidade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->
<app-modal [userUid]="userUid"></app-modal>