<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
            <ion-menu-button>
                <ion-icon class="fs-24 txt1" name="arrow-round-forward"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Novo Endereço</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="wrapp-pst" padding>
        <div class="mgt--50" padding>
            <form [formGroup]="addressForm" (submit)="sendAddress()" novalidate>
                <br>
                <ion-list>
                    <ion-item>
                        <ion-label>Selecione a cidade</ion-label>
                        <ion-select formControlName="city" okText="Confirmar" cancelText="Fechar" [class.invalid]="!addressForm.controls.city.valid && addressForm.controls.city.dirty">
                            <ion-select-option *ngFor="let item of cityName" value="{{item.name}}">{{item.name}}</ion-select-option>
                        </ion-select>
                        <span style="color: red" *ngIf="submitted && addressForm.controls['city'].hasError('required')">*Campo Obrigatório</span>
                    </ion-item>

                    <ion-item class="white-opct bdra-30">
                        <ion-input formControlName="district" type="text" placeholder="Bairro"></ion-input>
                        <span style="color: red" *ngIf="submitted && addressForm.controls['district'].hasError('required')">*Campo Obrigatório</span>
                    </ion-item>

                    <ion-item class="white-opct bdra-30">
                        <ion-input formControlName="street" type="text" placeholder="Rua" class=""></ion-input>
                        <span style="color: red" *ngIf="submitted && addressForm.controls['street'].hasError('required')">*Campo Obrigatório</span>
                    </ion-item>

                    <ion-item class="white-opct bdra-30">
                        <ion-input formControlName="number" type="text" placeholder="Número" class=""></ion-input>
                        <span style="color: red" *ngIf="submitted && addressForm.controls['number'].hasError('required')">*Campo Obrigatório</span>
                    </ion-item>

                    <ion-item class="white-opct bdra-30">
                        <ion-input formControlName="complement" type="text" placeholder="Complemento" class=""></ion-input>
                        <span style="color: red" *ngIf="submitted && addressForm.controls['complement'].hasError('required')">*Campo Obrigatório</span>
                    </ion-item>

                    <ion-item class="white-opct bdra-30">
                        <ion-input formControlName="phone" type="text" placeholder="(85) 9 8888-8888" [class.invalid]="!addressForm.controls.phone.valid && addressForm.controls.phone.dirty" class=""></ion-input>
                        <span style="color: red" *ngIf="submitted && addressForm.controls['phone'].hasError('required')">*Campo Obrigatório</span>
                    </ion-item>
                </ion-list>

                <ion-button expand="full" color="primary" type="submit">Salvar Endereço</ion-button>
            </form>
        </div>
    </div>
</ion-content>