<section class="row mt-5">
    <div class="col">
        <form (submit)="addCityName()" ngNativeValidate>
            <div class="form-group">
                <label>Nome</label>
                <input class="form-control" type="text" [(ngModel)]="cityName" name="cityName" required>
            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary">Salvar</button>
            </div>
        </form>


    </div>
</section>