<div>
    <form name="formBook" #formBook="ngForm" (ngSubmit)="onEditRestaurant()" ngNativeValidate>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
        </div>



        <div class="form-group">
            <label>Endereço</label>
            <input class="form-control" type="text" [(ngModel)]="address" name="address" required>
        </div>



        <div class="form-group">
            <label>Descrição</label>
            <input class="form-control" type="text" [(ngModel)]="description" name="description" required>
        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Latitude</label>
                    <input class="form-control" type="double" [(ngModel)]="lat" name="lat" required>
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Longitude</label>
                    <input class="form-control" type="double" [(ngModel)]="long" name="long" required>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Informações Adicionais</label>
                    <input class="form-control" type="text" [(ngModel)]="info" name="info" required>
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Marca</label>
                    <input class="form-control" type="text" [(ngModel)]="mark" name="mark" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Tipo de Produtos</label>
            <input class="form-control" type="text" [(ngModel)]="outlet" name="outlet" required>
        </div>
        <div class="form-group">
            <label>Telefone</label>
            <input class="form-control" type="text" [(ngModel)]="phonenumber" placeholder="(85) 9 8888-8888" name="phonenumber" required>
        </div>


        <div class="form-group" *ngIf="!this.inputImageUser.nativeElement.value">

            <img style="width:25%" class="thumbnail" src="{{firebase_url}}">


        </div>

        <div class="form-group" *ngIf="this.inputImageUser.nativeElement.value">

            <img style="width:25%" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">


        </div>


        <hr>
        <div class="form-group">
            <h5>Selecionar Imagem</h5>
            <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
        </div>
        <div class="progress">
            <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'">

            </div>
        </div>
        <br>
        <input #imageUser type="hidden" [value]="urlImage | async">


        <div class="modal-footer">
            <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-secondary" [routerLink]="['/lojas/detalhes/'+id]">Voltar</button>
            <button type="submit" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary">Salvar</button>
        </div>



    </form>

</div>