<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="block-content">
                <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/cart'" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Pesquisar Produtos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="items">

    <div class="movies" *ngIf="items">
        <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" placeholder="Procure Produtos aqui...">
        </ion-searchbar>
        <ion-virtual-scroll [items]="items">
            <div class="movie" *virtualItem="let item">
                <div class="poster" [routerLink]="['/product-details', {id: id, title: item.categories , owner_id: owner_id , cat_id: item.$key}]">
                    <img class="poster-effect" [src]="item.image_firebase_url">
                </div>
                <div class="data" [routerLink]="['/product-details', {id: id, title: title , owner_id: owner_id , cat_id: item.$key}]">
                    <div class="title max-lines">{{item.name}}
                    </div>
                    <div class="price vertical-center">R${{item.price}}</div>
                    <div class="stock vertical-bottom" *ngIf="item.stock <= 5">Restam {{item.stock}} un.</div>
                </div>
            </div>
        </ion-virtual-scroll>
    </div>
</ion-content>