<section class="row mt-5">
    <div class="col">
        <div *ngIf="restaurant">
            <h2 class="page header">{{restaurant.title}} <small> {{ restaurant.info }}</small></h2>
            <div class="row">
                <div class="col-md-4">
                    <img style="width:100%" class="thumbnail" src="{{restaurant.firebase_url}}">

                </div>

                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Descrição:</b> {{restaurant.description}}</li>
                        <li class="list-group-item"><b>Endereço:</b> {{restaurant.address}}</li>
                        <li class="list-group-item"><b>Telefone:</b> {{restaurant.phonenumber}}</li>
                        <li class="list-group-item"><b>Informações Adicionais:</b> {{restaurant.info}}</li>
                        <li class="list-group-item"><b>Marca:</b> {{restaurant.mark}}</li>
                        <li class="list-group-item"><b>Tipo de Produtos:</b> {{restaurant.outlet}}</li>
                        <li class="list-group-item"><b>Latitude:</b> {{restaurant.lat}} <b>Longitude:</b> {{restaurant.long}}</li>
                    </ul>
                </div>

                <!--
		<a class = "btn btn-default" [routerLink] = "['/edit-restaurant/'+restaurant.$key]">Edit</a>
		-->
                <div class="col" style="margin-top: 15px">
                    <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-secondary" [routerLink]="['/lojas/listar']">Voltar</button>
                    <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" [routerLink]="['/lojas/editar/'+restaurant.$key]">Editar</button>
                    <button (click)="onRestaurantDelete(id)" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-danger">Deletar</button>
                </div>

            </div>

            <h3>Categorias</h3>
            <ul class="list-group">

                <div class="row">
                    <div class="col-xs-12 col-md-3" *ngFor="let category of categories">

                        <a [routerLink]="['/categorias/detalhes/'+category.$key]" style="text-align: center;">
                            <h4>{{category.cat_name}}</h4>
                        </a>

                        <img style="width:100%;height:150px;" class="thumbnail" src="{{category.firebase_url}}">

                    </div>

                </div>

            </ul>

        </div>

    </div>
</section>