<section class="row mb-3">
    <img *ngIf="loading" class="center-spinner" src="assets/spinner.gif" />
    <div class="col">
        <div *ngIf="order_details">
            <h4 class="page header">DETALHES DO PEDIDO <small>{{order_details.timeStamp | date:'dd/MM/yyyy hh:mm'}}</small></h4>
            <div class="row">
                <table class="table">
                    <tr>
                        <td style="width:20%;">
                            <b style="text-align: center;">Imagem</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Nome do Produto</b>
                        </td>


                        <td style="width:20%;">
                            <b style="text-align: center;">Preço</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Quantidade</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Sub-Total</b>
                        </td>
                    </tr>
                </table>

                <div *ngFor="let item of order_details.items" style="width: 100%;">
                    <table class="table">
                        <tr>

                            <td style="width:20%;">
                                <img style="width:100px;height:60px;" class="thumbnail" src="{{item.image}}">
                            </td>


                            <td style="width:20%;">
                                <p style="text-align: left;">{{item.name}}</p>
                            </td>

                            <td style="width:20%;">
                                <p style="text-align: left;">R$ {{item.price}}</p>
                            </td>


                            <td style="width:20%;">
                                <p style="text-align: left;">{{item.quantity}} un.</p>
                            </td>


                            <td style="width:20%;">
                                <p style="text-align: left;">R$ {{1*item.price*item.quantity}}</p>
                            </td>

                        </tr>
                    </table>


                    <div *ngFor="let extra of item.extra">
                        <table class="table" *ngIf="extra.quantity != 0">
                            <tr>
                                <td style="width:20%;">
                                    <b style="text-align: center;"></b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Nome do Opcional</b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Preço do Opcional</b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Quantidade</b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Sub-Total</b>
                                </td>

                            </tr>
                        </table>

                        <table class="table" *ngIf="extra.quantity != 0">
                            <tr>
                                <td style="width:20%;">
                                </td>
                                <td style="width:20%;">
                                    <h4 style="text-align: left;">
                                        <strong>{{extra.name}}</strong></h4>
                                    <img style="width:100px;height:60px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/onesignalexample-f359b.appspot.com/o/extra.png?alt=media&token=d20d367f-7c61-477e-a55a-d2b39e93ec02">
                                </td>

                                <td style="width:20%;">
                                    <p style="text-align: left;">R$ {{extra.value}}</p>
                                </td>


                                <td style="width:20%;">
                                    <p style="text-align: left;">{{extra.quantity}} un.</p>
                                </td>


                                <td style="width:20%;">
                                    <p style="text-align: left;">R$ {{1*extra.value*extra.quantity}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h4 class="page header">DETALHES DO CLIENTE</h4>
                <table class="table">
                    <tr>
                        <td style="width:20%;">
                            <b style="text-align: center;">Nome</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Email</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Endereço</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Telefone</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Data</b>
                        </td>
                    </tr>

                </table>


                <table class="table">
                    <tr>
                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.displayName}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.email}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.addresses.street + ', ' + order_details.addresses.number}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.phone}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.timeStamp | date:'dd/MM/yyyy hh:mm'}}</p>
                        </td>

                    </tr>
                </table>
                <table style="text-align:right;float:right;width:100%;">
                    <tr>
                        <td>
                            <button href="javascript:void(0)" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-danger" *ngIf="order_details.status !== 'Finalizado' && order_details.status !== 'Cancelado Pela Loja'" (click)="showCancelOrderQuestion()">Cancelar Pedido</button>
                        </td>
                        <td>
                            <button href="javascript:void(0)" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" *ngIf="order_details.status !== 'Finalizado' && order_details.status !== 'Cancelado Pela Loja'" (click)="showQuestion()">{{button_text}}</button>
                        </td>
                        <td style="width:40%;">
                            <h4 style="text-align: right; ">Forma de Pagamento: <b>{{paymentType}}</b></h4>
                            <h4 style="text-align: right;" *ngIf="order_details.payments.PaymentType === 'cash'"><b>Levar Troco para: R${{order_details.payments.PaymentChange}}</b></h4>
                            <h4 style="text-align: right; color: red" *ngIf="order_details.payments.PaymentType === 'cash'"><b>Desconto: R${{-(order_details.total - order_details.addresses.fare - itensPrice)}}</b></h4>
                            <h4 style="text-align: right; color: green"><b>Frete: R${{order_details.addresses.fare}}</b></h4>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="width:40%;">
                            <h4 style="text-align: right; color: blue">Total: <b>R$ {{order_details.total}}</b></h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>