<section class="row mt-5">
    <div class="col">

        <div *ngIf="order_details">
            <h2 class="page header">DETALHES DO PEDIDO <small>{{order_details.timeStamp | date}}</small></h2>

            <div class="row">
                <div class="col-md-4">
                </div>
                <table class="table">
                    <tr>
                        <td style="width:20%;">
                            <b style="text-align: center;">Imagem</b>
                        </td>



                        <td style="width:20%;">
                            <b style="text-align: center;">Nome do Produto</b>
                        </td>


                        <td style="width:20%;">
                            <b style="text-align: center;">Preço</b>
                        </td>


                        <td style="width:20%;">
                            <b style="text-align: center;">Quantidade</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Sub-Total</b>
                        </td>
                    </tr>
                </table>

                <div *ngFor="let item of order_details.items" style="width: 100%;">
                    <table class="table">
                        <tr>

                            <td style="width:20%;">
                                <img style="width:100px;height:60px;" class="thumbnail" src="{{item.image}}">
                            </td>

                            <td style="width:20%;">
                                <p style="text-align: left;">{{item.name}}</p>
                            </td>

                            <td style="width:20%;">
                                <p style="text-align: left;">R$ {{item.price}}</p>
                            </td>


                            <td style="width:20%;">
                                <p style="text-align: left;">{{item.quantity}} un.</p>
                            </td>


                            <td style="width:20%;">
                                <p style="text-align: left;">R$ {{1*item.price*item.quantity}}</p>
                            </td>

                        </tr>
                    </table>


                    <div *ngFor="let extra of item.extra">
                        <table class="table" *ngIf="extra.quantity != 0">
                            <tr>
                                <td style="width:20%;">
                                    <b style="text-align: center;"></b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Nome do Opcional</b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Preço do Opcional</b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Quantidade</b>
                                </td>

                                <td style="width:20%;">
                                    <b style="text-align: center;">Sub-Total</b>
                                </td>

                            </tr>
                        </table>

                        <table class="table" *ngIf="extra.quantity != 0">
                            <tr>
                                <td style="width:20%;">
                                </td>
                                <td style="width:20%;">
                                    <h4 style="text-align: left;">
                                        <strong>{{extra.name}}</strong></h4>
                                    <img style="width:100px;height:60px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/onesignalexample-f359b.appspot.com/o/extra.png?alt=media&token=d20d367f-7c61-477e-a55a-d2b39e93ec02">
                                </td>

                                <td style="width:20%;">
                                    <p style="text-align: left;">R$ {{extra.value}}</p>
                                </td>


                                <td style="width:20%;">
                                    <p style="text-align: left;">{{extra.quantity}} un.</p>
                                </td>


                                <td style="width:20%;">
                                    <p style="text-align: left;">R$ {{1*extra.value*extra.quantity}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <h2 class="page header">DETALHES DO CLIENTE</h2>
                <table class="table">
                    <tr>
                        <td style="width:20%;">
                            <b style="text-align: center;">Nome</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Email</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Endereço</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Telefone</b>
                        </td>

                        <td style="width:20%;">
                            <b style="text-align: center;">Data</b>
                        </td>
                    </tr>

                </table>


                <table class="table">
                    <tr>
                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.displayName}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.email}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.address}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.customerDetails.phone}}</p>
                        </td>

                        <td style="width:20%;">
                            <p style="text-align: left;">{{order_details.timeStamp | date}}</p>
                        </td>

                    </tr>
                </table>
                <table style="text-align:right;float:right;width:100%;">
                    <tr>
                        <td style="width:60%;">
                        </td>
                        <td style="width:40%;">
                            <h2 style="text-align: right;">Forma de Pagamento: <b>{{order_details.payments.PaymentType}}</b></h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:60%;">
                        </td>
                        <td style="width:40%;">
                            <h2 style="text-align: right;">Total: <b>R$ {{order_details.total}}</b></h2>
                        </td>
                        <tr>
                            <td style="width:60%;">
                            </td>
                            <td style="width:40%;">
                                <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" [routerLink]="['/pedidos/editar/' + order_details.id]">Alterar Status</button>
                            </td>

                        </tr>
                </table>
            </div>
        </div>
    </div>
</section>