<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
            <ion-menu-button>
                <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Informações do Pedido</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div *ngIf="orderDetails">
        <ion-card>
            <ion-card-header color="primary">
                <ion-card-title style="font-size:1.2em" text-wrap>
                    Informações do Cliente
                </ion-card-title>
            </ion-card-header>
            <ion-card-content color="light">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p>Nome: <b>{{orderDetails.customerDetails.displayName}}</b></p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <b><p>Email: <b>{{orderDetails.customerDetails.email}}</b></p>
                            </b>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>Telefone: <b>{{orderDetails.customerDetails.phone}}</b></p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header color="primary">
                <ion-card-title style="font-size:1.2em" text-wrap>
                    Endereço de Entrega
                </ion-card-title>
            </ion-card-header>
            <ion-card-content color="light">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Cidade: <b>{{addresses.city}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Bairro : <b>{{addresses.district}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Endereço: <b>{{addresses.street}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Número: <b>{{addresses.number}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Telefone: <b>{{addresses.phone}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Complemento: <b>{{addresses.complement}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="overview">
                                <p>Data: <b>{{orderDetails.timeStamp | date:'dd/MM/yyyy hh:mm'}}</b></p>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header color="primary">
                <ion-card-title style="font-size:1.2em" text-wrap>
                    Detalhes dos Produtos
                </ion-card-title>
            </ion-card-header>
            <ion-card-content color="light">
                <div *ngFor="let item of orderDetails.items" style="margin-top: 15px">
                    <div style="margin-left:20px;">
                        <p><strong>{{item.name}} --- {{item.category}}</strong></p>
                        <p>Preço: R${{item.price}}</p>
                        <p>Quantidade: {{item.quantity}} un.</p>
                        <h4><strong>SubTotal: R${{1*item.price*item.quantity}}</strong></h4>
                    </div>
                    <div style="margin-left:30%;">
                        <div *ngFor="let itemExtra of item.extra">
                            <div *ngIf="itemExtra.quantity != 0">
                                <p><strong>Nome de Pedido Extra: {{itemExtra.name}}</strong></p>
                                <p>Preço: R${{itemExtra.value}}</p>
                                <p>Quantidade: {{itemExtra.quantity}} un.</p>
                                <h4><strong>SubTotal: R${{1*itemExtra.value*itemExtra.quantity}}</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>


        <ion-card>
            <ion-card-header color="primary">
                <ion-card-title style="font-size:1.2em" text-wrap>
                    Informações de Pagamento
                </ion-card-title>
            </ion-card-header>
            <ion-card-content color="light">

                <ion-list style="margin:0;padding:10px;">
                    <ion-row class="label" *ngIf="orderDetails.payments.id">
                        <ion-col width-75>
                            <ion-label no-margin>Id da Transação:</ion-label>
                        </ion-col>
                        <ion-col width-25 text-right>
                            <ion-label no-margin>{{orderDetails.payments.id}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row class="label" *ngIf="orderDetails.payments.status">
                        <ion-col width-75>
                            <ion-label no-margin>Status do Pagamento:</ion-label>
                        </ion-col>
                        <ion-col width-25 text-right>
                            <ion-label no-margin>{{orderDetails.payments.status}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row class="label" *ngIf="orderDetails.payments.amount">
                        <ion-col width-75>
                            <ion-label no-margin>Valor Cobrado:</ion-label>
                        </ion-col>
                        <ion-col width-25 text-right>
                            <ion-label no-margin>{{orderDetails.payments.amount}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row class="label">
                        <ion-col width-75>
                            <h4>
                                <ion-label no-margin style="text-align:right;"><b>Tipo de Pagamento</b></ion-label>
                            </h4>
                        </ion-col>
                        <ion-col width-25 text-right>
                            <h4>
                                <ion-label no-margin><b>{{orderDetails.payments.PaymentType}}</b></ion-label>
                            </h4>
                        </ion-col>
                    </ion-row>

                    <ion-row class="label">
                        <ion-col width-75>
                            <h4>
                                <ion-label no-margin style="text-align:right;"><b>Status</b></ion-label>
                            </h4>
                        </ion-col>
                        <ion-col width-25 text-right>
                            <h4>
                                <ion-label no-margin><b>{{orderDetails.status}}</b></ion-label>
                            </h4>
                        </ion-col>
                    </ion-row>
                    <ion-row class="label">
                        <ion-col width-75>
                            <h4>
                                <ion-label no-margin style="text-align:right;"><b>Total</b></ion-label>
                            </h4>
                        </ion-col>
                        <ion-col width-25 text-right>
                            <h4>
                                <ion-label no-margin><b>R${{1*orderDetails.total}}</b></ion-label>
                            </h4>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>