<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Filtar pelo Código' (keyup)='updateFilter($event)' />
                        <ngx-datatable #table class='bootstrap' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='items' [sorts]="[{prop: 'name', dir: 'asc'},{prop: 'available', dir: 'asc'},{prop: 'description', dir: 'asc'},{prop: 'price', dir: 'asc'},{prop: 'stock', dir: 'asc'}]">
                            <ngx-datatable-column prop="image_firebase_url">

                                <ng-template let-column="Imagem" ngx-datatable-header-template>
                                    IMAGEM
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>

                                    <img style="width:100px;height:100px;" class="thumbnail" src="{{value}}">
                                </ng-template>

                            </ngx-datatable-column>


                            <ngx-datatable-column prop="product_id">
                                <ng-template let-column="product_id" ngx-datatable-header-template>
                                    CÓDIGO
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="name">
                                <ng-template let-column="name" ngx-datatable-header-template>
                                    NOME
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="description">
                                <ng-template let-column="description" ngx-datatable-header-template>
                                    DESCRIÇÃO
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{(value.length>75)? (value | slice:0:75)+'..':(value)}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="price">
                                <ng-template let-column="price" ngx-datatable-header-template>
                                    PREÇO
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    R$ {{value}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="stock">
                                <ng-template let-column="stock" ngx-datatable-header-template>
                                    ESTOQUE
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}} un.
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="$key">
                                <ng-template let-column="$key" ngx-datatable-header-template>
                                    AÇÕES
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <button href="javascript:void(0)" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" routerLink="/produtos/detalhes/{{value}}">Visualizar</button>
                                </ng-template>
                            </ngx-datatable-column>


                        </ngx-datatable>

                        <div align="right" style="margin-top:15px;">
                            <a [routerLink]="['/produtos/adicionar']" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary" *ngIf="isAdmin">Adicionar Novo Produto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->
<app-modal [userUid]="userUid"></app-modal>