<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <input type='text' style='padding:4px;margin:5px auto;' placeholder='Filtrar pelo Código' (keyup)='updateFilter($event)' />
                                </td>
                                <td style="text-align:right;">
                                    <a [routerLink]="['/produtos/adicionar']" style="margin-top:15px" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary " *ngIf="isAdmin ">Adicionar Novo Produto</a>
                                </td>
                            </tr>
                        </table>
                        <ngx-datatable #table class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50 " [rowHeight]=" 'auto' " [limit]="10 " [rows]='items' [sorts]="[{prop: 'name', dir: 'asc'},{prop: 'available', dir:
                                    'asc'},{prop: 'description', dir: 'asc'},{prop: 'price', dir: 'asc'},{prop: 'stock', dir: 'asc'}] ">
                            <ngx-datatable-column prop="image_firebase_url">

                                <ng-template let-column="Imagem" ngx-datatable-header-template>
                                    <small><b>IMAGEM</b></small>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>

                                    <img style="width:100px;height:100px;" class="thumbnail" src="{{value}} ">
                                </ng-template>

                            </ngx-datatable-column>


                            <ngx-datatable-column prop="product_id">
                                <ng-template let-column="product_id" ngx-datatable-header-template>
                                    <small><b>CÓDIGO</b></small>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="name">
                                <ng-template let-column="name" ngx-datatable-header-template>
                                    <small><b>NOME</b></small>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="description">
                                <ng-template let-column="description" ngx-datatable-header-template>
                                    <small><b>DESCRIÇÃO</b></small>
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{(value.length>75)? (value | slice:0:75)+'..':(value)}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="price">
                                <ng-template let-column="price" ngx-datatable-header-template>
                                    <small><b>PREÇO</b></small>
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    R${{value}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="stock">
                                <ng-template let-column="stock" ngx-datatable-header-template>
                                    <small><b>ESTOQUE</b></small>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}} un.
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="$key">
                                <ng-template let-column="$key" ngx-datatable-header-template>
                                    <small><b>AÇÕES</b></small>
                                </ng-template>

                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <button href="javascript:void(0)" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary " routerLink="/produtos/detalhes/{{value}}">Visualizar</button>
                                </ng-template>
                            </ngx-datatable-column>


                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->