<section class="row mt-5" *ngIf="isAdmin">
    <div class="col">
        <form (submit)="onExtraItemAddSubmit()" ngNativeValidate>
            <div class="form-group">
                <label>Nome do Opcional</label>
                <input class="form-control" type="text" [(ngModel)]="extraName" name="extraName" required>
            </div>

            <div class="form-group">
                <label>Preço do Opcional</label>
                <input class="form-control" type="text" [(ngModel)]="extraPrice" name="extraPrice" required>
            </div>


            <div class="col">
                <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-secondary" [routerLink]="['/produtos/detalhes/'+id]">Voltar</button>
                <button type="submit" value="submit" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary">Salvar</button>
            </div>
        </form>


    </div>

</section>