<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
            <ion-menu-button>
                <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/cart'" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Endereço de Entrega</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <div class="backdrop">
        <img src="{{'assets/imgs/delivery.jpg' }}">
    </div>
    <div class="backdrop-separator1"></div>
    <div class="backdrop-separator2"></div>

    <div class="title" padding>
        <ion-button color="secondary" shape="round" fill="outline" expand="full" [routerLink]="['/new-address', {redirectLink: '/choose-address', cod: this.cod}]">
            <ion-icon slot="start" name="add-circle"></ion-icon> Adicionar novo Endereço
        </ion-button>
    </div>
    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <h2>Selecione Endereço de Entrega</h2>
            </ion-list-header>

            <ion-item *ngFor="let address of addressList">
                <ion-label>
                    <p class="show-address"><b>Cidade:</b> {{address.city}} </p>
                    <p class="show-address"><b>Bairro:</b> {{address.district}}</p>
                    <p class="show-address"><b>Endereço:</b> {{address.street}}</p>
                    <p class="show-address"><b>Número:</b> {{address.number}}</p>
                    <p class="show-address"><b>Telefone:</b> {{address.phone}}</p>
                    <p class="show-address"><b>Complemento:</b> {{address.complement}}</p>
                </ion-label>

                <ion-radio (ionSelect)="selectAddress(address.id,address)"></ion-radio>

            </ion-item>
        </ion-radio-group>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-toolbar position="bottom">
        <ion-button color="primary" shape="round" fill="outline" expand="full" (click)="checkAddressNotNull(service.cart.line_items)">
            Confirmar Pedido
        </ion-button>
    </ion-toolbar>
</ion-footer>