<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
            <ion-menu-button>
                <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/cart'" routerDirection="forward">
                <ion-icon name="cart">
                </ion-icon>
                <p style="color:white;margin-bottom:20px;">{{values.qty}}</p>
            </ion-button>

        </ion-buttons>

        <ion-title>Informações do Produto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <div style="text-align: center;" *ngIf="loading">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <div class="top-slide" *ngIf="params">
        <div class="wrap-slide">
            <ion-slides>
                <ion-slide *ngIf="params">
                    <div class="thumb flex-ali-center flex-jus-center ovfl-hidden">
                        <img src="{{params.data?.image_firebase_url}}">
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>

    <div class="title" padding>
        <div class="wrap-txt">
            <h3 class="fs-18 spacing-1 fw-600"><b>{{params.data?.name}}</b></h3>
        </div>
        <span *ngIf="!favorite" style="float:right;padding-right:10px;">
            <ion-icon class="txt-danger" name="heart-empty" (click)="addToFavourite(params.data)" style="position:relative; font-size:2em; margin-bottom:0.5em"></ion-icon>
        </span>
        <span *ngIf="favorite" style="float:right;padding-right:10px;">
            <ion-icon class="txt-danger" name="heart" (click)="removeFavourite()" style="position:relative; font-size:2em; margin-bottom:0.5em"></ion-icon>
        </span>
    </div>

    <div class="pdl-15 pdr-15">
        <div class="price mgb-10">
            <span class="fw-700 fs-22">
				R${{productPrice}}
            </span>
        </div>
        <hr>
        <div>
            <table style="width:100%" class="mgb-10">
                <tr>
                    <td class="fs-16" style="color: grey">
                        Categoria
                    </td>
                    <td class="fw-600 fs-14">
                        {{params.data?.category}}
                    </td>
                </tr>
                <tr *ngIf="params.data?.category !== 'Serviços'">
                    <td class="fs-16" style="color: grey">
                        Estoque
                    </td>
                    <td class="fw-600 fs-14">
                        {{params.data?.stock}} un.
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <span class="fw-400 fs-16">
	    		{{params.data?.description}}
    		</span>
        </div>
        <hr>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar position="bottom">
        <ion-button color="primary" shape="round" fill="outline" expand="full" (click)="presentConfirmAlert( params.data.cod, params.data.categories, params.data.category, params.data.stock, params.data.name, params.data.price, params.data.image_firebase_url , params.data.extraOptions )">
            ADICIONAR AO CARRINHO
        </ion-button>
    </ion-toolbar>
</ion-footer>