<form (submit)="showQuestion()" ngNativeValidate *ngIf="isAdmin">
    <img *ngIf="loading" class="center-spinner" src="assets/spinner.gif" />
    <div class="form-group">
        <label>ID</label>
        <input class="form-control" type="text" [(ngModel)]="cat_id" name="cat_id" required>
    </div>
    <div class="form-group">
        <label>Nome</label>
        <input class="form-control" type="text" [(ngModel)]="cat_name" name="cat_name" required>
    </div>

    <select class="form-control" type="text" [(ngModel)]="res_name" name="res_name" required>

     
            <option *ngFor="let restaurant of restaurants" [value]="restaurant.$key">{{restaurant.title}}</option>
           
      
          </select>


    <div class="form-group" *ngIf="!this.inputImageUser?.nativeElement.value" style="margin-top: 20px">

        <img style="width:15%" class="thumbnail" src="{{firebase_url}}">


    </div>

    <div class="form-group" *ngIf="this.inputImageUser?.nativeElement.value" style="margin-top: 20px">

        <img style="width:15%" class="thumbnail" src="{{this.inputImageUser?.nativeElement.value}}">


    </div>

    <hr>
    <div class="form-group">
        <h5>Selecionar Imagem:</h5>
        <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
    </div>
    <div class="progress">
        <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'">

        </div>
    </div>
    <br>
    <input #imageUser type="hidden" [value]="urlImage | async">


    <div class="col" style="margin-top: 15px">
        <button class="btn btn-raised mr-1 btn-round shadow-z-2 btn-secondary" [routerLink]="['/categorias/detalhes/'+id]">Voltar</button>
        <button type="submit" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-danger">Salvar</button>
    </div>
</form>