<section class="row mt-5">
    <div class="col">
        <form (submit)="onItemAddSubmit()" ngNativeValidate>
            <div class="form-group">
                <label>Nome</label>
                <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <input class="form-control" type="text" [(ngModel)]="category" name="category" required>
            </div>

            <div class="form-group">
                <label>Categorias</label>

                <select class="form-control" type="text" [(ngModel)]="categories" name="categories" required>
								  <option *ngFor="let category of categoryList" [value]="category.$key">{{category.cat_name}}</option>

				</select>

            </div>


            <div class="form-group">
                <label>Descrição</label>
                <input class="form-control" type="text" [(ngModel)]="description" name="description" required>
            </div>
            <div class="form-group">
                <label>Disponibilidade</label>
                <input class="form-control" type="text" [(ngModel)]="available" name="available" required>
            </div>

            <div class="form-group">
                <input id="image" name="image" [(ngModel)]="image" type="file">
            </div>

            <div class="form-group">
                <label>Preço</label>
                <input class="form-control" type="text" [(ngModel)]="price" name="price" required>
            </div>

            <div class="form-group">
                <label>Estoque</label>
                <input class="form-control" type="text" [(ngModel)]="stock" name="stock" required>
            </div>

            <div class="form-group">
                <label>Porcentagem</label>
                <input class="form-control" type="text" [(ngModel)]="percent" name="percent" required>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary">Salvar</button>
            </div>
        </form>

    </div>

</section>