<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>
                        VAVA PEÇAS E SERVIÇOS
                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>

                <br>
                <br>

                <div class="profile-menu-wrap" text-center *ngIf="user || user != null">
                    <div class="wrap-top">

                        <div class="avt-thumb">
                            <img [routerLink]="['/profile']" src="{{(user.avt != '' && user.avt != null)? user.avt: 'assets/imgs/profile2.jpg'}}">
                        </div>
                        <h2 class="spacing-1 mgb-15 fs-20 capitalize txt1 fw-600">{{user.username}}</h2>

                    </div>

                </div>


                <div class="main-menu bg-l1 pdl-20">

                    <br>

                    <ion-list class="lst-no-background" no-margin no-lines>
                        <ion-menu-toggle auto-hide="false" *ngFor="let p of menu">
                            <ion-item [routerDirection]="'root'" [routerLink]="[p.path]" class="txt1">
                                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                                <ion-label>{{p.name}}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                    <br>
                    <br>
                </div>
            </ion-content>
            <ion-footer>
                <div style="text-align: center">
                    &copy; Alaska Projects
                </div>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>