<section class="row mt-5">
    <div class="col">
        <form (submit)="onStatusOrderSubmit()" ngNativeValidate>

            <ul class="list-group" *ngIf="order_details">

                <div class="row">
                    <div class="col-xs-12 col-md-12">

                        <div class="panel panel-default">
                            <!-- Table -->
                            <table class="table">
                                <tr>

                                    <td style="width:15%;">
                                        <b style="text-align: center;">Imagem</b>
                                    </td>
                                    <td style="width:15%;">
                                        <b style="text-align: center;">Nome do Cliente</b>
                                    </td>



                                    <td style="width:10%;">
                                        <b style="text-align: center;">Total</b>
                                    </td>
                                    <td style="width:10%;">
                                        <b style="text-align: center;">Forma de Pagamento</b>
                                    </td>

                                    <td style="width:20%;">
                                        <b style="text-align: center;">Status</b>
                                    </td>

                                    <td style="width:10%;">
                                        <b style="text-align: center;">Data</b>
                                    </td>

                                    <td style="width:20%;text-align:center;">
                                        <b style="text-align: center;">Ação</b>
                                    </td>


                                </tr>
                            </table>


                            <table class="table">
                                <tr>

                                    <td style="width:15%;">
                                        <img style="width:100px;height:40px;" class="thumbnail" src="{{order_details.items[0].image}}">
                                    </td>


                                    <td style="width:15%;">
                                        <p style="text-align: left;">{{order_details.customerDetails.displayName}}</p>
                                    </td>




                                    <td style="width:10%;">
                                        <p style="text-align: left;">R$ {{order_details.total}}</p>
                                    </td>

                                    <td style="width:10%;">
                                        <p style="text-align: left;">{{order_details.payments.PaymentType}}</p>
                                    </td>

                                    <td style="width:20%;">

                                        <select class="form-control" type="text" [(ngModel)]="order_details.status" name="status">
													  <option value="Realizado">Pendente</option>
													  <option value="Em Andamento">Em Andamento</option>
													  <option value="Saiu para Entrega">Saiu para Entrega</option>
													  <option value="Entregue">Entregue</option>
													  <option value="Cancelado">Cancelado pelo Cliente</option>
													  <option value="Cancelado">Cancelado pela Loja</option>
													</select>
                                    </td>

                                    <td style="width:10%;">
                                        <p style="text-align: center;">{{order_details.timeStamp | date:'dd/MM/yyyy hh:mm'}}</p>
                                    </td>

                                    <td style="width:20%;text-align:center;">
                                        <button type="submit" value="submit" class="btn btn-raised mr-1 btn-round shadow-z-2 btn-primary">Salvar</button>
                                    </td>

                                </tr>
                            </table>
                        </div>










                    </div>
                </div>




            </ul>
        </form>



    </div>

</section>