<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
            <ion-menu-button>
                <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Meus Endereços</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div style="margin: 10px 5px;">
        <ion-button color="primary" shape="round" fill="outline" expand="full" [routerLink]="['/new-address', {redirectLink: '/my-address'}]">
            <ion-icon slot="start" name="add-circle"></ion-icon> Adicionar novo Endereço
        </ion-button>
    </div>


    <ion-card *ngFor="let address of addressList">
        <ion-card-header color="primary">

            <ion-card-title style="font-size:1.2em" text-wrap>
                <ion-icon name="md-locate"></ion-icon> {{address.street.toUpperCase()}}, {{address.number.toUpperCase()}}
            </ion-card-title>
        </ion-card-header>

        <ion-card-content color="light">

            <div style="margin:10px;">
                <p class="show-address" style="font-size: 1.2em"><b>Cidade:</b> {{address.city}} </p>
                <p class="show-address" style="font-size: 1.2em"><b>Bairro:</b> {{address.district}}</p>
                <p class="show-address" style="font-size: 1.2em"><b>Telefone:</b> {{address.phone}}</p>
                <p class="show-address" style="font-size: 1.2em"><b>Complemento:</b> {{address.complement}}</p>

                <ion-button color="danger" shape="round" expand="full" (click)="deleteUserAddress(address.id)">
                    <ion-icon slot="start" name="trash"></ion-icon> Deletar
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>