<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>


</ion-header>

<ion-content padding>

    <div class="backdrop" *ngIf="user">
        <img src="{{'assets/imgs/background.jpg' }}">
    </div>
    <div class="backdrop-separator1"></div>
    <div class="backdrop-separator2"></div>

    <div class="poster" *ngIf="user">
        <img src="{{(user.avt != '' && user.avt != null)? user.avt : 'assets/imgs/profile2.jpg'}}">
    </div>

    <div class="movie-data" *ngIf="user">
        <div class="title" *ngIf="loading">
            <ion-spinner name="dots"></ion-spinner>
        </div>
        <div class="title">{{ user.username }} {{user.fullname}}</div>
    </div>

    <form padding (ngSubmit)="checkFormValid()" [formGroup]="userForm" *ngIf="user || user != null">
        <ion-item>
            <ion-label position="fixed" class="pdl-15 txt-b3">Nome</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
            <span style="color: red" *ngIf="submitted && userForm.controls['username'].hasError('required')">*Campo Obrigatório</span>
        </ion-item>

        <ion-item>
            <ion-label position="fixed" class="pdl-15 txt-b3">E-mail</ion-label>
            {{user.email}}
        </ion-item>

        <ion-item>
            <ion-label position="fixed" class="pdl-15 txt-b3">Telefone</ion-label>
            <ion-input formControlName="phone" type="text" placeholder="(85) 9 8888-8888"></ion-input>
            <span style="color: red" *ngIf="submitted && userForm.controls['phone'].hasError('required')">*Campo Obrigatório</span>
        </ion-item>

        <div class="" text-center>
            <ion-button color="primary" shape="round" fill="outline" expand="full" type="submit">
                Salvar
            </ion-button>
        </div>
    </form>
</ion-content>